body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    border-radius: 5px 5px;
  }
  header {
    background-color:rgb(88, 24, 24);
    color: white;
    padding: 20px;
    text-align:center;
  }
  header nav ul {
    list-style:none;
    padding: 0;
  }
  header nav ul li {
    display: inline;
    margin: 0px 15px;
  }
  header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-weight: bold;
  }
  .hero {
    background-image: url('home\ page\ .jpg');
    background-size: cover;
    color: rgb(0, 0, 0);
    padding: 100px 10px;
    text-align:center;
    font-weight: bold;
    font-size: larger;
   
  }
  .hero.hero-content {
    margin: 20px;
  }
  .hero .action-button {
    background-color: #000000b9;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
  }
  .hero .action-button:hover{
    background-color: rgba(226, 183, 42, 0.904);
  }
  .hero-content{
    margin: 230px;
  }
  .featured-dishes {
    margin: 0;
    text-align: center;
    display: flex;
  }.dish1{
    margin: 30px 30px;
  }
  .dish2{
    margin: 30px 30px;
  }
  .dish3{
    margin: 30px 60px;
  }
  .dish1:hover{
    transform: scale(1.05);
    
  }
  .dish2:hover{
    transform: scale(1.05);
  }
  .dish3:hover{
    transform: scale(1.05);
  }
  section {
    padding: 50px 50px;
    background-color: rgba(226, 149, 54, 0.726);
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  footer .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }